@import "tailwindcss";


:root {
	--bg-body: #0f0f11;
	--bg-card: #1c1c1e;
	--bg-input: #2c2c2e;
	--bg-hover: #2c2c2e;
	--accent: #5e5ce6;
	--accent-hover: #4b48d6;
	--text-main: #ffffff;
	--text-muted: #8e8e93;
	--danger: #ff453a;
	--success: #30d158;
	--border-radius: 24px;
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background-color: var(--bg-body);
	color: var(--text-main);
	font-family: var(--font-family);
	/* display: flex;
	justify-content: center; */
	/* align-items: center; */
	/* min-height: 100vh; */
	/* padding: 20px; */
}

.container {
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto 1fr;  */
	/* gap: 16px; */
	/* width: 100%;
	max-width: 600px; */
	height: 85vh;
}